.Container{
    width: 350px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding:48px 40px 36px 40px;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.inner{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.forgottext{
    font-size: 17px;
    margin-top: 12px;
    margin-bottom: 12px;
    color:#5f6368;
    white-space:normal;
}

.forgotbutton{
    display: flex;
    margin-left: 187px;
    margin-top:30px;
} 
.forgotmail{
    width: 100%;
}
@media screen and (max-width:600px){
    .Container{
        border:unset;
        background: #fff;
        line-height:1.4286 ;
        font-size:14px;
        width: 100%;
    }
}